@charset "UTF-8";



* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

.tot {
	margin: 50px auto;
	width: 700px;
	height: 300px;
	padding: 100px;
	border: 1px solid white;
}

.btns {
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

button {
	width: 100px;
	height: 40px;
	background: #224;
	color: #0f0;
}

.big {
	position: relative;
	width: 600px;
	height: 250px;
	background-color: green;
	float: left;
	overflow: hidden;
}

#imgs {
	left: 0px;
	position: absolute;
	width: 1200%;
	height: 250px;
	background-color: #00f;
}

img {
	width: 600px;
	height: 250px;
	float: left;
}

.aside {
	position: absolute;
	width: 100px;
	height: 250px;
	display: inline;
	float: right;
	background-color: green;
}

.nav {
	width: 10px;
	height: 10px;
	background: #fff;
	/* display: inline; */
	border-radius: 5px;
	margin: 10px auto;
}
